body {
  background-color: rgb(250, 251, 251);
}
.container {
  height: 100vh;
  justify-content: center;
}

.header {
  margin: auto;
  align-content: center;
  text-align: center;
}
.header h1 {
  display: flex;
  margin: 2em auto;
  font-size: 3rem;
  justify-content: center;
}
.converter {
  justify-content: center;
}
.converter form {
  display: flex;
  justify-content: center;
}
input {
  display: inline-flex;
  font-size: 2rem;
  height: 80px;
  width: 320px;
  margin: 1em;
  border: 2px solid rgb(231, 227, 227);
  background-color: rgb(245, 241, 241);
  border-radius: 2em;
  align-self: center;
  text-align: center;
}
form > p {
  display: inline-flex;
  font-size: 3rem;
  align-self: flex-start;
}
textarea,
input,
select {
  outline: none;
}
input:focus {
  background-color: rgb(207, 170, 202);
  border: 2px solid rgb(190, 134, 183);
}
select {
  background-color: none;
  height: 60px;
  width: 120px;
  font-size: 1rem;
  border: none;
}
